.des_back{
    text-align: start;
    font-family: 'GmarketSansMedium' ;
    position: relative;
    left : 20px;
}

.des_back_img{
    width: 30%;
}

.des_back_ele{
    display: flex;
    flex-direction: row;
    gap:2vh;
}

.des_back_name{
    font-size: 2vh;
}

.des_back_desc{
    font-size: 1.2vh;
    width: 35vh;
}

.des_back_des{
    
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}